
body{
  background-color: rgb(213, 213, 213);

}
.center {
  text-align: center;
}

.home {
  margin: 2rem;
  background-color: rgb(212, 212, 212);
}
.nav{
  text-decoration: none;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(73, 38, 106);
  color: white;
  font-weight: 500;
  padding: 0 1rem;
  border-radius: 0.5rem;
}

.navbar-item-content {
  display: flex;
}

.navbar-item {
  margin: 1rem 2rem;
  color: white;
  text-decoration: none;
}

.encrypt {
  font-size: 1rem;
  background-color: rgb(194, 194, 194);
  padding: 1rem;
}

.encript-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}