body {
  background-color: rgb(213, 213, 213);

}

.center {
  text-align: center;
}

.home {
  margin: 2rem;
  background-color: rgb(212, 212, 212);
}

.nav {
  text-decoration: none;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(73, 38, 106);
  color: white;
  font-weight: 500;
  padding: 0 1rem;
  border-radius: 0.5rem;
}

.navbar-item-content {
  display: flex;
}

.navbar-item {
  margin: 1rem 2rem;
  color: white;
  text-decoration: none;
}

.encrypt {
  font-size: 1rem;
  background-color: rgb(194, 194, 194);
  padding: 1rem;
}

input {
  margin: .8rem;
  padding: .4rem;
  border-radius: .2rem;
  border: 2px solid aqua;
}

.encript-item {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: gray;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 2.5rem 0;
  border-radius: .5rem;
  box-shadow: 0px 0px 6px 1px violet;
}

button {
  margin: .5rem;
  font-weight: 600;
  padding: .2rem 4rem;
  border-radius: .3rem;
  border: none;
}

button:hover {
  background-color: rgb(0, 154, 0);
  color: white;
}

textarea {
  border-radius: .3rem;
  text-align: center;
}

.result {
  color: aqua;
  font-size: 1.4rem;
  font-weight: 800;
  padding: 1rem 2rem;
  border: 1px solid aqua;
  border-radius: .2rem;
}

label {
  margin-bottom: .1rem;
  text-align: center;
  color:rgb(255, 249, 223);
  font-size: .9rem;
  font-weight: 600;
}

.output-item {
  display: flex;
  flex-direction: column;
}